// Theme Colors
$primary                                    : #3cb4ac;
$secondary                                  : #7a7a7a;
$white                                      : #fff;
$success                                    : #1eca1a;
$danger                                     : #e43536;
$warning                                    : #ffc400;
$info                                       : #8d63d3;