<div class="container d-flex align-items-center justify-content-between py-4 position-relative">
    <figure>
        <img src="../../../../../assets/images/logo.svg" alt="logo">
    </figure>
    <input type="checkbox" id="toggle" class="d-none"/>
    <label for="toggle" class="hamburger">
        <span class="line bg-white rounded-2"></span>
        <span class="line bg-white rounded-2"></span>
        <span class="line bg-white rounded-2"></span>
    </label>
    <ul id="menu-container" class="nav flex-md-row flex-column overflow-hidden">
        <li class="nav-item p-2 px-md-4">
            <a class="nav-link" aria-current="page" role="button">About</a>
        </li>
        <li class="nav-item p-2 px-md-4">
            <a class="nav-link" aria-current="page" role="button">Discover</a>
        </li>
        <li class="nav-item p-2 px-md-4">
            <a class="nav-link" aria-current="page" role="button">Get Started</a>
        </li>
    </ul>
</div>